.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.header-icon-title {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  gap: 10px;
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  padding-top: 20px;
  font-size: large;
}

.search {
  padding: 5px 0 20px 0;
}

tr {
  color: #5b5757;
}

.results {
  padding-top: 15px;
}

.footer {
  margin-bottom: 0;
  text-align: center;
  background-color: #222;
  color: white;
}

.footer-item {
  list-style: none;
}

.card-container {
  display: flex;
}

.card {
  width: 30rem;
  text-align: center;
  border: solid #0069d9 3px;
  margin: 1rem;
  align-items: center;
  justify-content: space-around;
}

.card-restaurant {
  width: 40rem;
  text-align: left;
  margin: 1rem;
  align-items: left;
  justify-content: center;
}

.order-button {
  margin-left: 10px;
  padding: 1px 5px;
}

.order-li {
  padding: 5px;
}
